[Desktop Entry]
Name=Social
Comment=All-in-one social profile for element and discord.
Icon=element
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=discord
Exec=firefox -P social --class=discord
