[Desktop Entry]
Type=Application
Name=Unreal Engine 5
Icon=lutris_unreal-engine-5
Exec=env LUTRIS_SKIP_INIT=1 lutris lutris:rungameid/220
Categories=Game
