[Desktop Entry]
Name=UnrealEngine
Exec=/mnt/PERSO/Unreal/5.2.0/Engine/Binaries/Linux/UnrealEditor %U
Terminal=false
Type=Application
Icon=unreal-engine
Comment=A 3D game engine by Epic Games which can be used non-commercially for free.
